#back-top {
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  background: #23533f;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  user-select: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.footer-pc {
  & .footer-top {
    color: #969696;
    background-color: #1c1c1c;
    padding: 30px 0;
    & .footer-logo {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      & img {
        height: 46px;
        width: auto;
      }
    }

    & .footer-item {
      display: block;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 16px;
    }

    & .footer-cert {
      width: 150px;
      height: auto;
    }
  }

  & .footer-bot {
    padding: 15px 0;
    background-color: #008837;
  }
}
