.header-top {
  color: #a3a3a3;
  border-bottom: 1px solid #dedede;

  & .header-top__item {
    line-height: 24px;
    & + .header-top__item {
      margin-left: 12px;
    }

    & i {
      margin-right: 4px;
    }
    &:hover a {
      color: #008837;
    }
  }
}

.header-logo {
  padding: 25px 0;

  & img {
    height: 46px;
    width: auto;
  }
}

.navbar {
  border-top: 3px solid #008837;
  border-bottom: 1px solid #dedede;
  & .navbar-item {
    position: relative;
    flex-shrink: 0;

    & > a {
      display: inline-block;
      line-height: 50px;
      padding: 0 5px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      border-bottom: 3px solid transparent;
      transform: scale(0) translateZ(0);
      -webkit-transition: -webkit-transform 0.45s ease, opacity 0.55s ease;
      -moz-transition: -moz-transform 0.45s ease, opacity 0.55s ease;
      -ms-transition: -ms-transform 0.45s ease, opacity 0.55s ease;
      -o-transition: -o-transform 0.45s ease, opacity 0.55s ease;
      transition: transform 0.45s ease, opacity 0.55s ease;
    }
    &:hover::before,
    &.active::before {
      border-color: #008837;
      transform: scale(1) translateZ(0);
    }
  }

  & .navbar-search {
    margin-left: auto;
    margin-right: 13px;
    position: relative;
    cursor: pointer;
    & .navbar-search__icon {
      line-height: 50px;
    }
    & .search-block {
      background-color: #fff;
      box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
      padding: 10px;
      position: absolute;
      right: 0;
      top: 100%;
      width: 300px;
      z-index: 10;
      margin-top: 0;
      opacity: 0;
      visibility: hidden;
      transform-origin: top right;
      transform: scale(0);
      transition: 0.3s;
    }
    &.active .search-block {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }

    & .search-input {
      background-color: #f7f7f7;
      border: none;
      color: #000;
      width: 100%;
      height: 40px;
      padding: 0 12px;
      font-size: 12px;
      border-radius: 0;
    }
  }

  & .navbar-expan {
    position: relative;
    cursor: pointer;

    & .navbar-expan__icon {
      line-height: 50px;
    }
    &.active .expand-list {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
    & .expand-list {
      position: absolute;
      left: auto;
      right: 0;
      z-index: 999;
      top: 100%;
      width: 368px;
      max-height: 500px;
      overflow: auto;
      padding: 5px 27px;
      background: #f5f5f5;
      box-shadow: 0 0 16px rgb(0 0 0 / 12%);
      opacity: 0;
      visibility: hidden;
      transform-origin: top right;
      transform: scale(0);
      transition: 0.3s;

      &::-webkit-scrollbar {
        width: 3px;
      }
      &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 5px;
      }
      &::-webkit-scrollbar-track {
        background: none;
      }
    }
    & .expand-item {
      &:not(:last-child) {
        border-bottom: solid #fff;
      }
    }
    & .expan-link {
      display: block;
      padding: 15px 0;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      color: #666;
    }
  }
}
