// max width 1280px
@media (max-width: 80em) {
  .d-xl-none {
    display: none;
  }
  .d-xl-block {
    display: block;
  }
  .d-xl-flex {
    display: flex;
  }
  .d-xl-grid {
    display: grid;
  }
  /*-------------------------------------------------------------*/
}
// max width 1024px
@media (max-width: 64em) {
  .d-lg-none {
    display: none;
  }
  .d-lg-block {
    display: block;
  }
  .d-lg-flex {
    display: flex;
  }
  .d-lg-grid {
    display: grid;
  }
  /*-------------------------------------------------------------index*/
  .mt-50 {
    margin-top: 40px;
  }
  .header-top {
    padding: 5px 0;

    & .header-top__list {
      justify-content: center;
    }
  }

  .header-logo {
    padding: 10px 0;

    & img {
      height: 40px;
      margin: auto;
    }
  }

  .navbar {
    justify-content: space-between;
    margin: 0 15px;
    & .navbar-item {
      display: none;
    }

    & .navbar-search {
      margin-right: 0;
      order: 2;

      & .navbar-search__icon {
        font-size: 20px;
      }
    }

    & .navbar-expan {
      margin: 10px 0;
      background-color: #008837;
      & .navbar-expan__icon {
        line-height: 1;
        padding: 5px;
        font-size: 20px;
        color: #fff;
      }

      & .expand-list {
        right: auto;
        left: 0;
        padding: 0;
        padding-top: 10px;
        transform-origin: left top;
        background-color: #fff;
        box-shadow: none;
      }
      & .expand-item {
        border-bottom: 1px solid #f1f1f1 !important;
        &:first-child {
          border-top: 1px solid #f1f1f1;
        }
      }
      & .expan-link {
        padding: 10px 0;
        font-weight: 600;
        font-size: 14px;
        color: #333;
      }
    }
  }

  .block-main,
  .block-top,
  .block-top .block-small {
    display: block;
  }
  .block-top {
    padding-left: 15px;
    padding-right: 15px;
    & .block-large {
      margin-bottom: 5px;
    }

    & .block-small {
      & .block-articles__item {
        margin-bottom: 5px;
      }
    }
  }
  .box-header {
    & .heading {
      font-size: 11px;
      padding: 9px 10px;
    }
  }
  .box-primary {
    padding-left: 15px;
    padding-right: 15px;

    & .box-container {
      display: block;
    }
    & .box-item {
      margin-bottom: 15px;
    }
  }

  .box-secondary {
    padding-left: 15px;
    padding-right: 15px;

    & .box-item {
      display: block;
    }

    & .articles-img {
      width: 100%;
    }

    & .articles-content {
      margin-left: 0;
      margin-top: 20px;
    }

    & .articles-title {
      color: #1c1c1c;
    }
  }

  .block-right {
    padding-left: 15px;
    padding-right: 15px;
  }

  .block-images {
    & .block-images__container {
      display: block;
    }
    & .block-large {
      & .article-cate {
        display: inline-block;
        background-color: #1c1c1c;
      }
    }

    & .block-small {
      & .article-img {
        width: 35%;
      }

      & .article-content {
        margin-left: 16px;
      }
    }
  }

  .footer-pc {
    & .footer-top {
      padding: 30px;
    }

    & .footer-bot {
      padding: 15px;
      & p:first-child {
        text-align: center;
      }
    }
  }
  /*-------------------------------------------------------------cate*/
  .breadcreums-cate {
    padding-left: 15px;
    padding-right: 15px;
  }
  .block-cate {
    & .block-right {
      display: none;
    }
  }
  /*-------------------------------------------------------------detail*/
  .block-detail {
    padding-left: 15px;
    padding-right: 15px;

    & .detail-related .box-articles__img {
      width: 30%;
    }

    & .block-right,
    & .box-primary {
      padding: 0;
    }

    & .ads-news-mb {
      & .ads-news__heading {
        font-weight: 500;
        border-bottom: 1px solid #e9eaee;
        padding-bottom: 3px;
      }

      & .article-title {
        font-size: 15px;
        color: #202124;
        margin-top: 5px;
      }

      & .ads-news__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px 5px;
      }

      & .ads-news__item {
        &:first-child {
          grid-column: 1/3;
        }
      }
    }
  }
}

// max width 768px
@media (max-width: 48em) {
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }
  .d-md-flex {
    display: flex;
  }
  .d-md-grid {
    display: grid;
  }
}

// max width 640px
@media (max-width: 40em) {
  .d-sm-none {
    display: none;
  }
  .d-sm-block {
    display: block;
  }
  .d-sm-flex {
    display: flex;
  }
  .d-sm-grid {
    display: grid;
  }
}

// danh cho man hinh duoi 400px
@media (max-width: 25em) {
}
@media (max-width: 20em) {
}
